[submodule "FastestDet/FastestDet-Tensorrt"]
	path = FastestDet/FastestDet-Tensorrt
	url = https://github.com/zhouyuchong/FastestDet-Tensorrt.git
[submodule "Smoke_Fire_YoloV5/Smoke_Fire_Detection"]
	path = Smoke_Fire_YoloV5/Smoke_Fire_Detection
	url = https://github.com/zk2ly/Smoke_Fire_Detection.git
