[submodule "FastestDet/FastestDet-Tensorrt"]
	path = FastestDet/FastestDet-Tensorrt
	url = https://github.com/zhouyuchong/FastestDet-Tensorrt.git
[submodule "Smoke_Fire_YoloV5/Smoke_Fire_Detection"]
	path = Smoke_Fire_YoloV5/Smoke_Fire_Detection
	url = https://github.com/zk2ly/Smoke_Fire_Detection.git
[submodule "LPRNet/LPRNet_Pytorch"]
	path = LPRNet/LPRNet_Pytorch
	url = https://github.com/sirius-ai/LPRNet_Pytorch.git
[submodule "LPD_Retina/Pytorch_Retina_License_Plate"]
	path = LPD_Retina/Pytorch_Retina_License_Plate
	url = https://github.com/gm19900510/Pytorch_Retina_License_Plate
[submodule "yolov10"]
	path = yolov10
	url = https://github.com/THU-MIG/yolov10.git
