*.engine
*.so
*.o
*.pyc
*.log
*.mp4
*.avi

__pycache__/*

*.jpg
*.png
__pycache__/*
*.pyc
__pycache__
*.npy
*.engine
*.onnx
*.pb
*.wts
*.pt
*.so
*.json

images/*
logs/*
.vscode/*


# models
*.engine
*.onnx
*.pt
*.pth
*.pb
*.wts

# pkgs
*.whl
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.gz
*.tar
*.egg-info
*.deb
dependency/pkgs/*
*.run

# data
*.db